- page_title = "Upload statement"

- content_for :title do
  = page_title
  
%h1= page_title

= form_for @upload, :html => {:multipart => true} do |upload_form|
  %div
    = upload_form.label      :ofx_file
    = upload_form.file_field :ofx_file
  %div
    = upload_form.submit    'Upload'