%tbody
  - @transactions.each_with_index do |transaction, index|
    = content_tag_for(:tr, transaction) do
      %td
        - klass = 'firstOfDay' if index == 0 || transaction.date != @transactions[index-1].date
        %span.date{:class => klass}= transaction.date.to_s(date_format)
      %td.detail
        %p.description_and_category
          = link_to transaction_description(transaction), search_transactions_path(:q => ['description', transaction_description(transaction)].join(':')), :class => 'description'
          - unless transaction.category.blank?
            = link_to transaction.category, search_transactions_path(:q => ['category', transaction.category].join(':')), :class => 'category label label-info'
        %p.note= preserve transaction.note
      %td.paid_in= transaction_amount_in(transaction)
      %td.paid_out= transaction_amount_out(transaction)
      %td.actions= link_to 'Edit', edit_transaction_path(transaction)