%p
  = link_to 'Edit', transactions_path(:period => params[:period], :edit => true)
  = link_to_previous_period params[:period]
  = link_to_next_period params[:period]
  
= render :partial => 'search_form'

%h1
  Transactions for
  = Date.from_period(params[:period]).to_s(:month_and_year)

%table#transactions
  %thead
    %tr
      %th Date
      %th Description
      %th Paid in
      %th Paid out
      %th Note
  %tbody
    - @transactions.each do |transaction|
      = content_tag_for(:tr, transaction) do
        %td.date
          = form_for(transaction, :html => {:id => nil}) do |transaction_form|
            = transaction_form.text_field :date, :size => '10', :id => nil
            = transaction_form.submit 'Save date', :id => nil
        %td.description
          = form_for(transaction, :html => {:id => nil}) do |transaction_form|
            = transaction_form.text_field :description, :size => '80', :id => nil
            = transaction_form.submit 'Save description', :id => nil
        %td.paid_in= transaction_amount_in(transaction)
        %td.paid_out= transaction_amount_out(transaction)
        %td.note
          = form_for(transaction, :html => {:id => nil}) do |transaction_form|
            = transaction_form.text_area :note, :size => '40x3', :id => nil
            = transaction_form.submit 'Save note', :id => nil