- page_title = "Edit transaction"

- content_for :title do
  = page_title

%h1= page_title

= form_for @transaction, html: {class: 'edit_transaction transaction'} do |transaction_form|
  %div
    = transaction_form.label :date
    = transaction_form.text_field :date, size: '10', value: @transaction.date
    %span.help-block
      Original:
      %span.text-info.original_date= @transaction.original_date
  %div
    = transaction_form.label :description
    = transaction_form.text_field :description, size: '80', value: @transaction.description, class: 'description'
    %span.help-block
      Original:
      %span.text-info.original_description= @transaction.original_description
  %div
    = transaction_form.label :location
    = transaction_form.text_field :location, size: '40', value: @transaction.location, class: 'location'
  %div
    = transaction_form.label :note
    = transaction_form.text_area :note, size: '40x3'
  %div
    = transaction_form.label :category
    = transaction_form.text_field :category, size: 40, class: 'category'
  %div
    = transaction_form.submit 'Save'
