%p
  = link_to 'Edit', transactions_path(:period => params[:period], :edit => true)
  = link_to_previous_period params[:period]
  = link_to_next_period params[:period]
  
= render :partial => 'search_form'

%h1
  Transactions for
  = Date.from_period(params[:period]).to_s(:month_and_year)

= render :partial => 'income_and_expenditure'

%table#transactions
  %thead
    %tr
      %th Date
      %th Description
      %th Paid in
      %th Paid out
      %th Note
      %th Category
  %tbody
    - @transactions.each do |transaction|
      = content_tag_for(:tr, transaction) do
        %td.date= transaction.date.to_s(:weekday_and_day)
        %td.description= transaction_description(transaction)
        %td.paid_in= transaction_amount_in(transaction)
        %td.paid_out= transaction_amount_out(transaction)
        %td.note= transaction.note
        %td.category= transaction.category