- page_title = "Transactions for #{Date.from_period(params[:period]).to_s(:month_and_year)}"

- content_for :title do
  = page_title

%h1= page_title

%p
  = link_to 'Edit', transactions_path(:period => params[:period], :edit => true)
  = link_to_previous_period params[:period]
  = link_to_next_period params[:period]

%table#transactions
  = render :partial => 'table_header'
  = render :partial => 'table_footer'
  = render :partial => 'table_body', :locals => {:date_format => :weekday_and_day}