%p
  = link_to 'Edit', transactions_path(:edit => true)
  
= form_tag search_transactions_path, :method => :get do
  = label_tag :q, 'Search transactions'
  = text_field_tag :q
  = submit_tag 'Search'

%table#transactions
  %thead
    %tr
      %th Date
      %th Description
      %th Paid in
      %th Paid out
      %th Note
  %tbody
    - @transactions.each do |transaction|
      = content_tag_for(:tr, transaction) do
        %td.date
          - if params[:edit]
            = form_for(transaction, :html => {:id => nil}) do |transaction_form|
              = transaction_form.text_field :date, :size => '10', :id => nil
              = transaction_form.submit 'Save date', :id => nil
          - else
            = transaction.date.to_formatted_s(:human_friendly)
        %td.description
          - if params[:edit]
            = form_for(transaction, :html => {:id => nil}) do |transaction_form|
              = transaction_form.text_field :description, :size => '80', :id => nil
              = transaction_form.submit 'Save description', :id => nil
          - else
            = transaction.description.titleize
        %td.paid_in= number_to_currency(transaction.amount, :unit => '£') if transaction.amount > 0
        %td.paid_out= number_to_currency(-transaction.amount, :unit => '£') if transaction.amount < 0
        %td.note
          - if params[:edit]
            = form_for(transaction, :html => {:id => nil}) do |transaction_form|
              = transaction_form.text_area :note, :size => '40x3', :id => nil
              = transaction_form.submit 'Save note', :id => nil
          - else
            = transaction.note