- page_title = "Transactions #{@filter}"

- content_for :title do
  = page_title

.row
  .col-md-8
    %h1= page_title
  .col-md-4
    = link_to url_for(params.merge(edit: true)), class: 'btn btn-default pull-right' do
      - ['<i class="glyphicon glyphicon-edit"></i>', 'Edit transactions'].join(' ').html_safe

- if params[:period]
  %nav
    %ul.pager
      %li.previous= link_to_previous_period params[:period], unexplained: true
      %li.next= link_to_next_period params[:period], unexplained: true

%table#transactions.table.table-striped.table-condensed.table-bordered
  = render partial: 'table_header'
  = render partial: 'table_footer'
  = render partial: 'table_body', locals: {date_format: @date_format}
