- page_title = "Transactions matching '#{params[:q]}'"

- content_for :title do
  = page_title

%h1= page_title

%p
  = link_to 'Edit', search_transactions_path(:q => params[:q], :edit => true)

%table#transactions
  = render :partial => 'table_header'
  = render :partial => 'table_footer'
  = render :partial => 'table_body', :locals => {:date_format => :human_friendly}