%h1
  Transactions matching
  = "'#{params[:q]}'"
  
%p
  = link_to 'Edit', search_transactions_path(:q => params[:q], :edit => true)

%table#transactions
  = render :partial => 'table_header'
  = render :partial => 'table_footer'
  = render :partial => 'table_body', :locals => {:date_format => :human_friendly}