- page_title = "Transactions matching '#{params[:q]}'"

- content_for :title do
  = page_title

.row-fluid
  .span8
    %h1= page_title
  .span4
    = link_to search_transactions_path(q: params[:q], edit: true), class: 'btn pull-right' do
      - ['<i class="icon-edit"></i>', 'Edit transactions'].join(' ').html_safe

%table#transactions.table.table-striped.table-condensed.table-bordered
  = render partial: 'table_header'
  = render partial: 'table_footer'
  = render partial: 'table_body', locals: {date_format: :human_friendly}
