= form_tag search_transactions_path, :method => :get do
  = label_tag :q, 'Search transactions'
  = text_field_tag :q
  = submit_tag 'Search'

%h1
  Transactions matching
  = "'#{params[:q]}'"

%table#transactions
  %thead
    %tr
      %th Date
      %th Description
      %th Paid in
      %th Paid out
      %th Note
  %tbody
    - @transactions.each do |transaction|
      = content_tag_for(:tr, transaction) do
        %td.date= transaction.date.to_s(:human_friendly)
        %td.description= transaction.description.titleize
        %td.paid_in= number_to_currency(transaction.amount, :unit => '£') if transaction.amount > 0
        %td.paid_out= number_to_currency(-transaction.amount, :unit => '£') if transaction.amount < 0
        %td.note= transaction.note