%p
  = link_to 'Edit', search_transactions_path(:q => params[:q], :edit => true)
  
= render :partial => 'search_form'

%h1
  Transactions matching
  = "'#{params[:q]}'"

%table#transactions
  = render :partial => 'table_header'
  = render :partial => 'table_footer'
  %tbody
    - @transactions.each do |transaction|
      = content_tag_for(:tr, transaction) do
        %td.date= transaction.date.to_s(:human_friendly)
        %td.description= transaction_description(transaction)
        %td.paid_in= transaction_amount_in(transaction)
        %td.paid_out= transaction_amount_out(transaction)
        %td.note= transaction.note
        %td.category= transaction.category
        %td.actions