!!! 5
%html
  %head
    %title MoneyTracker
    = csrf_meta_tag
    %meta{:charset => 'utf-8'}

  %body
    -if flash[:info]
      #flash= flash[:info]
    %nav
      = link_to 'Transactions', transactions_path
      = link_to 'Upload statement', new_upload_path
    = yield