!!! 5
%html
  %head
    %title= ['MoneyTracker', yield(:title)].compact.join(' - ')
    = csrf_meta_tag
    %meta{:charset => 'utf-8'}
    = javascript_include_tag 'jquery-1.6.1.min.js', 'application'
    = stylesheet_link_tag :all

  %body
    -if flash[:info]
      #flash= flash[:info]
    #header
      #title
        Money Tracker
      #navAndSearch
        %nav
          = link_to 'Recent transactions', transactions_path
          = link_to 'Upload statement', new_upload_path
        #searchContainer
          = form_tag search_transactions_path, :method => :get do
            = label_tag :q, 'Search transactions'
            = text_field_tag :q, params[:q], :size => '60'
            = submit_tag 'Search'
    = yield