!!! 5
%html
  %head
    %title= ['MoneyTracker', yield(:title)].compact.join(' - ')
    = csrf_meta_tag
    %meta{charset: 'utf-8'}
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"

  %body
    .container-fluid
      .navbar
        .navbar-inner
          = link_to 'Money Tracker', root_path, class: 'brand'
          %ul.nav
            %li
              = link_to 'Recent transactions', transactions_path
            %li
              = link_to 'Uncategorized transactions', uncategorized_transactions_path
            %li
              = link_to 'Upload statement', new_upload_path
          %div
            = form_tag search_transactions_path, method: :get, class: 'navbar-search pull-right' do
              = text_field_tag :q, params[:q], size: '60', placeholder: 'Search transactions', class: 'search-query'
              = submit_tag 'Search', class: 'btn'
      -if flash[:info]
        #flash.alert.alert-info= flash[:info]

      = yield
